# jupyter things
autopep8
black
# dask-labextension # disabled pending dask-labextension fix to #135
ipycanvas
ipyevents
ipykernel
ipyleaflet
ipympl
ipython
ipywidgets
isort
jupyter_bokeh
jupyter-client
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
jupyter-ui-poll
jupyter-vscode-proxy
jupyterhub
jupyterlab
jupyterlab_code_formatter
jupyterlab_iframe
jupyterlab-geojson
jupyterlab-git
line_profiler
mypy
nbdime
nbformat
nbgitpuller
nbresuse
nbval
notebook
rope
setuptools
sidecar
streamlit
virtualenv
wheel
yapf
